// Primary
$ORANGE: hsl(26, 100%, 55%);
$PALE_ORANGE: hsl(25, 100%, 94%);

// Neutral
$VERY_DARK_BLUE: hsl(220, 13%, 13%);
$DARK_GRAYISH_BLUE: hsl(219, 9%, 45%);
$GRAYISH_BLUE: hsl(220, 14%, 75%);
$LIGHT_GRAYISH_BLUE: hsl(223, 64%, 98%);
$WHITE: hsl(0, 0%, 100%);
$BLACK: hsl(0, 0%, 0%);