@use "../styles";

.navbar-container {
    display: flex;
    align-items: center;
    border-bottom: 2px solid styles.$LIGHT_GRAYISH_BLUE;
    height: 7rem;

    &__logo {
        margin-right: 5%;
    }

    &__menu-icon {
        display: none;
    }

    &__menu-overlay {
        display: none;
    }
}

.right-container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    align-items: center;

    img {
        width: 3rem;
        height: auto;
        border: 2px solid transparent;
        border-radius: 2rem;
        transition: ease-in-out .2s;

        &:hover {
            border: 2px solid styles.$ORANGE;
            border-radius: 2rem;
            cursor: pointer;
        }
    }
}

.cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    border: none;
    width: 3rem;
    height: 7rem;
    margin-right: 2.5rem;

    &__cart-count {
        position: absolute;
        top: 2.5rem;
        right: .4rem;
        width: 1.3rem;
        height: .8rem;
        background-color: styles.$ORANGE;
        color: styles.$WHITE;
        border-radius: 1em;
        font-size: .7em;
    }

    &:hover {
        cursor: pointer;
    }

    svg {
        fill: hsl(219, 9%, 45%);
    }

}

.navbar-item-container {
    width: 25vw;
    display: flex;
    justify-content: space-between;


    &__item {
        color: styles.$DARK_GRAYISH_BLUE;
        height: 7rem;
        display: flex;
        align-items: center;
        box-sizing: border-box; // Inverts the border to inside
        border-bottom: 3px solid transparent;
        transition: ease-in-out .2s;

        &:hover {
            color: styles.$BLACK;
            border-bottom: 3px solid styles.$ORANGE;
            cursor: pointer;
        }
    }
}

.close-container {
    display: none;
}

@media all and (max-width: styles.$MOBILE) {
    .navbar-container {
        height: 5rem;
        border: 0;
        padding: 0 7vw;

        &__menu-icon {
            display: block;
            margin-right: 1rem;
        }

        &__menu-overlay {
            display: block;
            position: absolute;
            background-color: rgba(0, 0, 0, 0);
            visibility: hidden;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            transition: ease-in-out .2s;
        }

        &__menu-overlay.active {
            background-color: rgba(0, 0, 0, .75);
            visibility: visible;
        }

    }

    .navbar-item-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: normal;
        background-color: styles.$WHITE;
        width: 65vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translate3d(-65vw, 0, 0);
        transition: ease-in-out .2s;

        &__item {
            color: styles.$BLACK;
            height: 0;
            padding: 1.5rem 2rem;
            font-weight: styles.$FONT_WEIGHT_700;
            pointer-events: none; // Removes :hover styling
        }
    }

    .navbar-item-container.active {
        transform: translate3d(0vw, 0, 0);
    }

    .close-container {
        display: flex;
        height: 5rem;
        align-items: center;

        &__menu-close {
            display: block;
            padding: 1rem 2rem;
        }
    }

    .right-container {
        width: 20vw;

        img {
            width: 1.6rem;
        }
    }
}